body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container{
    border: 5px solid blueviolet;
    border-radius: 10px;
    padding: 20px;
}

.btn{
    width: 70px;
    height: 70px;
    margin: 8px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 15px;
    border: none;
}

.screen{
    width: 240px;
    height: 65px;
    border: 3px solid gray;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.previous{
    font-size: 20px;
    margin: 2px;
}

.current{
    font-size: 30px;
    margin: 2px;
}

.first-rows{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.other-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}